################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestingSystem.Sevice/obj/Debug
/TestingSystem.Models/obj/Debug
/TestingSystem.Data/obj/Debug
/TestingSystem.DataTranferObject/obj/Debug
/TestingSystem.Common/obj/Debug
/TestingSystem/obj/Debug
/TestingSystem/bin
